<li class="nav-item dropdown no-arrow">
  <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="mr-2 d-none d-lg-inline text-gray-600 small"><%= current_user.email %></span>
    <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
  </a>
  <!-- Dropdown - User Information -->
  <ul class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
    
    <li><a id="btn_alterar_empresa" class="dropdown-item"> 
      <i class="fas fa-key fa-sm fa-fw mr-2 text-gray-400"></i>
      Alterar empresa     </a>
    </li>

    <div class="dropdown-divider"></div>

    <li><%= link_to destroy_user_session_path, method: :delete, :class => "dropdown-item" do %>
      <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>Fazer logoff
      <% end %>
    </li>
  </ul>
</li>
